.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: black;
}

.footermyname {
    padding-top: 5%;
    text-align: center;
    font-size: 170%;
    font-family: 'Elephant';
}

.footersocialicons {
    padding-bottom: 4vw;
    font-size: 120%;
    text-align: center;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #000000;
}

#home {
    background-image: url('./components/img/website-parallax-background-C.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    max-width: 100%;
    padding-bottom: 7%;
}

.homemyintro {
    font-size: 4vw;
    font-weight: bolder;
    font-family: 'Bernard MT Condensed';
    color: white;
}

.resumebutton {
    font-size: 1vw;
    padding: 23vw 2vw 2vw 24vw;
}

.myworkhome {
    font-size: 1vw;
    color: white;
    font-family: 'Ink Free';
}

.mynamehomeintro {
    font-size: 2vw;
    font-family: 'Maiandra GD';
    color: white;
}

.slidingthoughts {
    color: white;
    margin-top: 7%;
    margin-bottom: 7%;
}

.drag {
    width: 100px;
    font-family: 'Goudy Stout';
}

.about {
    background-image: url('./components/img/Generic_BG09_Dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    max-width: 100%;
}

.aboutheading {
    font-size: 10vw;
    font-family: "Broadway";
}

.aboutcontent {
    font-size: 2.7vw;
    font-family: "Ink Free";
    color: cornsilk;
}

#aboutlastline {
    margin-bottom: 0.01em;
    padding-bottom: 1em;
}

.educationpic {
    max-width: 100%;
    max-height: 100%;
}

.boxeducation {
    width: 98.9vw;
    height: 20vw;
    position: relative;
    text-align: center;
    color: white;
}

.educationheading {
    font-size: 5vw;
    font-family: 'Castellar';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.educationcontent {
    font-family: "Century Schoolbook";
    margin: 3.5vw;
}

.educourseheading {
    font-family: 'Goudy Stout';
    color: white;
}

.courseheadingedu {
    font-weight: bold;
    color: whitesmoke;
}

.coursedetailsedu {
    color: white;
}

.error404box {
    background-size: cover;
    max-width: 100vw;
    max-height: 50vw;
    width: 98.9vw;
    height: 46vw;
}

.error404pic {
    max-width: 100%;
    max-height: 100%;
}

.contactpic {
    max-width: 100%;
    max-height: 100%;
}

.contactbox{
    max-width: 105vw;
    max-height: 50vw;
    width: 98.9vw;;
    height: 100%;
}

.contactheading{
    font-size: 5vw;
    color:black;
    font-family: "Broadway";
}

.contactmypic{
    width: 27vw;
    height: 27vw;
}

.skillpic{
    max-width: 100%;
    max-height: 100%;
}

.skillpicbox{
    background-image: url('./components/img/plexes_numbers_code_123827_1366x768.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100%;
}

.expskillheading{
    font-size: 4vw;
    font-family: 'Castellar';
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5vw;
    left: 30vw;
}

.skillheading{
    font-size: 3vw;
    font-family: 'Broadway';
    color: white;
    padding-top: 9vw;
}

.expheading{
    font-size: 3vw;
    font-family: 'Broadway';
    color: white;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.skillcontent{
    padding-top: 1vw;
}

.skillcardstyle{
    background: transparent;
}

.skillcardtitle{
    color: white ;
    font-size: '1.5vw';
}

.skillcardtext{
    color: white ;
    font-size: '1vw';
}

.skilllogo{
    height: 9vw;
    width: 15vw;
}

.submitcontactbutton{
    text-align:center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}