.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #000000;
}

.page-enter{
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit{
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active{
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

#home{
    background-color:#000000;
}

.homemyintro{
    font-size: 4.5em;
    font-weight: bolder;
    font-family: fantasy;
    color: white;
    float: right;

}

.mynamehomeintro{
    font-size: 2em;
    font-family: fantasy;
    color: white;
    float: right;
}

.homepagephoto{
    width:500px;
    height:600px;
    max-width: 500px;
    max-height: 600px;
    float:left;
}

#intro{
    margin-top: 5%;
}

#mywork{
    font-size:100%;
    color:white;
    margin-top: 97%;
    padding-bottom: 14%;
    padding-left: 69%;
}